# Fichiers binaires à traiter avec Git LFS
*.pkl filter=xet diff=xet merge=xet
*.joblib filter=xet diff=lfs merge=lfs -text

# Fichiers CSV (texte)
*.csv text

# Fichiers images
*.png binary
*.jpg binary